! Configure system settings
config system global
    set hostname "YourHostname"
    set timezone "YourTimezone"
end

! Configure administrative access
config system admin
    edit admin
        set password "2002"
        set ssh-access enable
        set https-admin enable
    next
end

! Configure firewall addresses
config firewall address
    edit "Internal_Server"
        set subnet 192.168.1.20 255.255.255.255
    next
    edit "External_Client"
        set subnet 203.0.113.50 255.255.255.255
    next
    edit "My_FQDN_Address"
        set type fqdn
        set fqdn "example.com"
    next
end

! Configure interfaces with aliases
config system interface
    edit "wan"
        set vdom "root"
        set ip 203.0.113.1/24
        set allowaccess "ping https ssh"
        set role wan
    next
    edit "lan"
        set vdom "root"
        set role lan
        set alias "LAN_Interface"
    next
    edit "dmz"
        set vdom "root"
        set role dmz
        set alias "DMZ_Interface"
    next
    edit "vlan100"
        set vdom "root"
        set type vlan
        set vlanid 100
        set interface "lan"
        set alias "VLAN100_Interface"
    next
    edit "vlan200"
        set vdom "root"
        set type vlan
        set vlanid 200
        set interface "lan"
        set alias "VLAN200_Interface"
    next
end

! Configure IP addresses for interfaces and aliases
config system interface
    edit "lan"
        set ip 192.168.1.1/24
    next
    edit "dmz"
        set ip 172.16.1.1/24
    next
    edit "vlan100"
        set ip 192.168.100.1/24
    next
    edit "vlan200"
        set ip 192.168.200.1/24
    next
end

! Configure security policies
config firewall policy
    edit 1
        set name "LAN-WAN"
        set srcintf "lan"
        set dstintf "wan"
        set srcaddr "Internal_Server"
        set dstaddr "My_FQDN_Address"
        set action accept
        set schedule "always"
        set service "ALL"
    next
    edit 2
        set name "WAN-LAN"
        set srcintf "wan"
        set dstintf "lan"
        set srcaddr "External_Client"
        set dstaddr "Internal_Server"
        set action accept
        set schedule "always"
        set service "ALL"
    next
    edit 3
        set name "DMZ-WAN"
        set srcintf "dmz"
        set dstintf "wan"
        set srcaddr "all"
        set dstaddr "all"
        set action accept
        set schedule "always"
        set service "HTTP HTTPS DNS"
    next
    edit 4
        set name "VLAN100-WAN"
        set srcintf "vlan100"
        set dstintf "wan"
        set srcaddr "all"
        set dstaddr "all"
        set action accept
        set schedule "always"
        set service "ALL"
    next
    edit 5
        set name "WAN-VLAN100"
        set srcintf "wan"
        set dstintf "vlan100"
        set srcaddr "all"
        set dstaddr "all"
        set action accept
        set schedule "always"
        set service "ALL"
    next
    edit 6
        set name "VLAN200-WAN"
        set srcintf "vlan200"
        set dstintf "wan"
        set srcaddr "all"
        set dstaddr "all"
        set action accept
        set schedule "always"
        set service "ALL"
    next
    edit 7
        set name "WAN-VLAN200"
        set srcintf "wan"
        set dstintf "vlan200"
        set srcaddr "all"
        set dstaddr "all"
        set action accept
        set schedule "always"
        set service "ALL"
    next
end

! Configure NAT
config firewall ippool
    edit "Pool_WAN"
        set start-ip 203.0.113.100
        set end-ip 203.0.113.200
        set netmask 255.255.255.0
    next
end

config firewall vip
    edit "VIP_Public"
        set extip 198.51.100.10
        set extintf "wan"
        set mappedip 192.168.1.10
    next
end

config firewall policy
    edit 8
        set srcintf "wan"
        set dstintf "dmz"
        set srcaddr "all"
        set dstaddr "all"
        set action accept
        set schedule "always"
        set service "DNS"
    next
end

! Configure VPN (Example: IPsec)
config vpn ipsec phase1-interface
    edit "VPN_Phase1"
        set interface "wan"
        set proposal aes128-sha1
        set dhgrp 2
        set keylife 28800
        set remote-gw 203.0.113.254
    next
end

config vpn ipsec phase2-interface
    edit "VPN_Phase2"
        set phase1name "VPN_Phase1"
        set proposal aes128-sha1
        set dhgrp 2
        set keylifeseconds 3600
    next
end

! Configure logging and monitoring
config log setting
    set status enable
    set local-archive enable
    set local-archive-quota 5000
    set fortianalyzer-status enable
end

! Configure antivirus and intrusion prevention
config ips global
    set mode detect
end

! Configure web filtering and application control
config webfilter profile
    edit "WebFilter_Profile"
        config ftgd-wf
            set filter-options default
        end
    next
end

! Configure static routing
config router static
    edit 1
        set dst 10.0.0.0 255.0.0.0
        set device "lan"
    next
    edit 2
        set dst 192.168.100.0 255.255.255.0
        set device "vlan100"
    next
    edit 3
        set dst 192.168.200.0 255.255.255.0
        set device "vlan200"
    next
end

! Configure high availability (optional)
config system ha
    set group-id "HA_Group_ID"
    set mode a-p
    set password "HA_Password"
    set hbdev "port1"
    set session-pickup enable
end

! Save configuration
execute backup config flash "Configuration_Name"
